<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearCuenta</servlet-name>
        <servlet-class>Servlets.CrearCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Iniciar</servlet-name>
        <servlet-class>Servlets.Iniciar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarContrasena</servlet-name>
        <servlet-class>Servlets.CambiarContrasena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUsuario</servlet-name>
        <servlet-class>Servlets.editarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlEnfermedades</servlet-name>
        <servlet-class>Servlets.controlEnfermedades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearCuenta</servlet-name>
        <url-pattern>/CrearCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Iniciar</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarContrasena</servlet-name>
        <url-pattern>/CambiarContrasena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUsuario</servlet-name>
        <url-pattern>/editarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlEnfermedades</servlet-name>
        <url-pattern>/controlEnfermedades</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
